.myOwnButton {
  border-radius: 3px;

}
.avatar {
  border-radius: 50%;
  width: 50px;
}
.card {
  position: relative;
  height: 250px;
  background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("http://unsplash.it/400/300/?random");
  background-size: cover;
  color: white;
}

.badge {
  line-height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  background: #D73B3A !important;
  position: relative !important;
  top: -15px !important;
  left: -15px !important;
}

.banner {
  height: 25vh;
  background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("http://unsplash.it/400/300/?random");
  background-size: cover;
  border-radius: 8px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.8;

}
